@import 'reset';

body,
html {
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
	height: 100%;
}

body {
	height: 80%;
	padding: 10% 25%;
	.app-wrapper {
		border: 1px solid #E0E0E0;
		border-radius: 7px;
		height: 35%;
		padding: 25px;
		.autocomplete-wrapper{
			margin: auto;
		}
		span {
			display: block;
			padding-top: 1em;
		}
		.information {
			font-weight: 700;
		}
		.result {
			text-align: center;
		}
	}
}
