v-autocomplete {
  .autocomplete-wrapper {
    position: relative;
    width: 20em;
    z-index: 9999;
    &.not-empty {
      .autocomplete-clear {
        display: block;
      }
    }

    .autocomplete-input {
      border: 1px solid #606060;
      border-radius: 7px;
      font-size: 1.25em;
      padding: 10px 15px;
      width: 100%;
    }
    .autocomplete-clear {
      background: #cecdcd;
      border-radius: 50%;
      cursor: pointer;
      display: none;
      font-size: 1.25em;
      height: 1em;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 10px;
      width: 1em;
      &::before{
        content: 'x';
        font-size: 0.8em;
        font-weight: 700;
      }
    }
    .autocomplete-datalist {
      background-color: #FFFFFF;
      border: 1px solid #606060;
      border-top-width: 0;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      list-style-type: none;
      margin: 0;
      margin-top: -0.5em;
      max-height: 10em;
      overflow-y: auto;
      padding: .75em 0 .375em;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      &.hide {
        display: none;
      }
      &.show {
        display: block;
      }
      li {
        padding: 10px 15px;
        cursor: pointer;
        &:hover,&.hover {
          background-color: #B0E4F9;
        }
      }
    }
  }
}
